<ion-view view-title="NGO SEARCH">
  <ion-content>

    <div class="list card">
      <form ng-submit="getNgoByPin()">
        <h2>NGO</h2>

        <label class="item item-input">
          <span class="input-label">PIN</span>
          <input ng-model="pinDtls.pin" type="text" required>
        </label>


        <br>
        <br>
        <input type="submit" value="Search" class="btn btn-primary pull-right"/>
      </form>
    </div>
    <ion-list>
      <ion-item ng-repeat="ngo in ngoPinList" href="#/app/ngoList/id/{{ngo._id}}">
        <small>Name:{{ngo.name}}</small>
        <br>
        <small>State:{{ngo.abbr}}</small>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
