<ion-view view-title="NGO DETAILS">
  <ion-content>

    <div class="list card">
      <div class="item item-text-wrap">{{ngoSingle.name}}</div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <p><b>Abbreviatons</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.abbr}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>ContactPerson</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.contactPerson}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Address</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.address.address1stLine}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>District</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.address.dist}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>State</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.address.state}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Pin</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.address.pin}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>PhoneNo</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.contact.phoneNo}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Fax</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.contact.fax}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Email</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.contact.email}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Website</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.contact.website}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Areas Of Intrest</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.areaOfFocus.areasOfIntrest}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Activities For Environment And Education</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.areaOfFocus.activitiesWrtEnvAndEdu}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Publications</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.areaOfFocus.publications}}</p>
      </div>
      <div class="item item-text-wrap">
        <p><b>Organzation Type</b></p>
      </div>
      <div class="item item-text-wrap">
        <p>{{ngoSingle.orgType}}</p>
      </div>
    </div>
    </div>

    <!--<div id="post-stream">
      <div class="post">

      </div>
    </div>-->


  </ion-content>
</ion-view>
